# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives:**
*We will have a look of the Data Science tools and Ecosystems*  
**List popular languages for Data Science**
* Python
* SQL
* R
* Julia
* ScalaR.

**Some of the popular languages that Data Scientists use are:**
1. Python
2. Julia
3. Scala
4. SQL

**Some of the commonly used libraries used by Data Scientists include:**
1. Numpy
2. Keras
3. Pandas
4. Scipy
5. Tensorflow
6. Matplotlib
7. Scikit-Learn

**Table that contains Open Source Data Science Tools**
|Data Science Tools|
|---|
|Jupyter Notebook|
|RStudio|
|Tensorflow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

(3*4)+5

**This is a simple arithmetic expression to mutiply then add integers**

In [12]:
(3*4)+5

17

200 Minutes in Hours

**This will convert 200 minutes to hours by diving by 60**

In [21]:
min=int(200)
h=min//60
m=min%60
print(h,"Hours", m,"Minutes")

3 Hours 20 Minutes

## Author

Subhajit Mondal